@import "mixins";
@import "sass-variables";

ion-content {
  --background: var(--custom-background);
}

.title {
  font-size: 18px;
}

.main-item {
  margin-top: 40px;
}


ion-item {
  --border-width: 0;
  --inner-border-width: 0;
}

.content-wrapper {
  width: 100%;
  max-width: 400px;

  .title {
    padding: 18px 0 9px;
  }
}

.default-item-type-search {

  .item-type-list {

    ion-item {
      --min-height: 40px;

      @each $class,
      $color in $content-type-colors {
        &.#{$class} {

          ion-icon {
            color: $color;
            margin-left: 10px;
          }
          
          ion-radio{
            margin-right: 10px;
            --color-checked: #{$color};
          }
        }
      }
    }

    ion-label {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      ion-icon {
        font-size: 22px;
        margin: 1px 0 0 7px;
      }
    }
  }
}

.reset-settings {
  margin-top: 40px;
  --padding-top: 25px;
  --padding-bottom: 25px;
  --box-shadow: none;
}


