.title {
  font-size: 18px;
}

.main-item {
  margin-top: 40px;
}

ion-item {
  --border-width: 0;
  --inner-border-width: 0;
}

.default-item-type-search {
  
  .content-wrapper .title {
    padding: 18px 0 9px;
  }

  .item-type-list {

    ion-item {
      --min-height: 40px;
    }

    ion-label {
      display: flex;
      justify-content: flex-start;
      align-items: center;
  
      ion-icon {
        font-size: 22px;
        margin: 1px 0 0 7px;
      }
    }
    }
}