ion-card {
  margin-bottom: 25px;
}

.loading-image {
  animation: loading 2400ms linear infinite;
}

ion-card-header {
  padding: 10px 6px 6px;

  span.repository-name {
    color: var(--ion-color-medium-tint);
    font-size: 13px;
    font-weight: 300; 
  }
  
  ion-card-title {
    font-size: 15px;
    font-family: "Cabin Sketch", cursive;
    font-weight: bold;
    letter-spacing: 0.01em;
    margin-top: 2px;
  }
}

img {
  width: 100%;  
}

@keyframes loading {
  from {
    opacity: 0.45;
  }
  50% {
    opacity: 0.15;
  }
  to {
    opacity: 0.45;
  }
}