$xlarge:     "screen and (min-width : 1200px)";
$large:     "screen and (max-width : 1199px)";
$medium:  "screen and (max-width : 991px)";
$small:   "screen and (max-width : 767px)";
$xsmall:  "screen and (max-width : 575px)";
