$content-type-colors: (
  "all-type": var(--all-type-color),
  "image-type": var(--image-type-color),
  "video-type": var(--video-type-color),
  "audio-type": var(--audio-type-color),
  "document-type": var(--document-type-color),
  "didactic-unit-type": var(--didactic-unit-type-color),
  );