<ion-content #content [fullscreen]="true" scrollEvents="true" (ionScroll)="shouldAddSearchToHeader($event)"
  appHideHeader [header]="header" [searchVisibleInHeader]="addSearchToHeader">

  <ion-header class="main-header" [translucent]="true" #header slot="fixed">
    <ion-toolbar class="title-toolbar" [appSearchTypeClass]="searchType" [class.small-padding]="addSearchToHeader">
      <ion-buttons slot="start">
        <ion-button [routerLink]="['/settings/appearance']">
          <ion-icon slot="icon-only" name="settings"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="toggleLicensesMenu()" class="licenses-filter-button" [disabled]="showNoRepos">
          <ng-container *ngIf="!menuIsOpened;else closeMenuTemplate">
            <ion-icon slot="icon-only" name="funnel"></ion-icon>
            <ion-badge class="active-licenses-count" *ngIf="showActiveLicensesCount" slot="end">{{activeLicensesCount}}</ion-badge>
          </ng-container>
          <ng-template #closeMenuTemplate>
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ng-template>
        </ion-button>
      </ion-buttons>

      <ion-title>
        <div class="app-title">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="52px" height="52px">
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
              d="M18 13v7H4V6h5.02c.05-.71.22-1.38.48-2H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-5l-2-2zm-1.5 5h-11l2.75-3.53 1.96 2.36 2.75-3.54zm2.8-9.11c.44-.7.7-1.51.7-2.39C20 4.01 17.99 2 15.5 2S11 4.01 11 6.5s2.01 4.5 4.49 4.5c.88 0 1.7-.26 2.39-.7L21 13.42 22.42 12 19.3 8.89zM15.5 9C14.12 9 13 7.88 13 6.5S14.12 4 15.5 4 18 5.12 18 6.5 16.88 9 15.5 9z" />
            <path d="M0 0h24v24H0z" fill="none" /></svg>
          <span class="label">Crotalus</span>
        </div>
      </ion-title>
    </ion-toolbar>

    <div class="search-area" *ngIf="addSearchToHeader">
      <ion-input clearInput type="search" name="search-value" inputmode="search" placeholder="Ingresa tu búsqueda"
        autocomplete="true" [(ngModel)]="valueToSearch" (keyup.enter)="search(true)"></ion-input>
      <ion-button (click)="search(true)" fill="solid" [appSearchTypeClass]="searchType">
        <ion-icon name="search-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </div>

    <app-search-type-selector *ngIf="addSearchToHeader" [pristine]="pristine" [searchType]="searchType" (searchTypeChangeEvent)="setSearchType($event)"></app-search-type-selector>
  </ion-header>

  <div id="container" [class.center-content]="showNoRepos">
    <ion-menu side="end" type="overlay" menuId="licencesMenu" contentId="sideMenu" swipeGesture="false"
      (ionDidClose)="setMenuState(false)" (ionDidOpen)="setMenuState(true)" (ionWillOpen)="setMenuMarginTop()">
      <ion-toolbar>
        <ion-title>Buscar por licencia:</ion-title>
      </ion-toolbar>
      <ion-content class="licenses-menu" [appSearchTypeClass]="searchType">
        <ion-list>
          <ion-item *ngFor="let license of licenses">
            <ion-checkbox [checked]="license.active" [disabled]="disableLastActiveLicense && license.active"
              (ionChange)="updateActiveLicenses($event.detail.checked, license.value)"></ion-checkbox>
            <ion-label>
              <img [src]="license.imagePath" [alt]="license.value">
              <p>{{license.description}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="sideMenu"></ion-router-outlet>

    <div class="background" [class.dimmed]="results && results.length"></div>
    <div class="first-search-indicator">
      <ion-spinner *ngIf="isSearching" name="dots"></ion-spinner>
    </div>
    <ion-spinner *ngIf="showSpinner; else contentTemplate"></ion-spinner>


    <ng-template #contentTemplate>

      <ng-container *ngIf="showSearch">
        <div class="search-area" [class.pristine]="pristine" #searchBarWrapper>
          <ion-input clearInput type="search" name="search-value" inputmode="search" placeholder="Ingresa tu búsqueda"
            autocomplete="true" [(ngModel)]="valueToSearch" (keyup.enter)="search(true)"></ion-input>
          <ion-button (click)="search(true)" fill="solid" [appSearchTypeClass]="searchType">
            <ion-icon name="search-outline" slot="icon-only"></ion-icon>
            <span *ngIf="pristine">Buscar</span>
          </ion-button>
        </div>
  
        <app-search-type-selector [pristine]="pristine" [searchType]="searchType" (searchTypeChangeEvent)="setSearchType($event)"></app-search-type-selector>
      </ng-container>


      <div class="no-connected-repos" *ngIf="showNoRepos">
        <ion-card>
          <ion-card-header>
            <ion-card-title>No hay repositorios conectados para realizar la búsqueda.</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>
              Para conectar un repositorio debes ir a la configuración de repositorios de la aplicación. <br><br>
            </p>
            <ion-button [appSearchTypeClass]="searchType" [routerLink]="['/settings/repositories']">
            Ir a repositorios
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
          </ion-button>
          </ion-card-content>
        </ion-card>
      </div>
    </ng-template>

    <div class="no-results-message" *ngIf="showNoResultsMessage">
      <ion-card>
        <ion-card-title>
          <ion-icon name="alert-circle-outline"></ion-icon>
        </ion-card-title>
        <ion-card-header>
          <ion-card-subtitle>No hay resultados para tu búsqueda.</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>

    <div *ngIf="results && results.length" class="results">

      <ng-container [ngSwitch]="searchType">

        <app-image-search-results *ngSwitchCase="searchTypes.image" [results]="results"
          (openDetails)="openDetails($event)"></app-image-search-results>

        <div class="video-results-wrapper" *ngSwitchCase="searchTypes.video">
          <app-video-result-card *ngFor="let result of results" [videoItem]="result"
            (openDetails)="openDetails(result)"></app-video-result-card>
        </div>

        <div class="audio-results-wrapper" *ngSwitchCase="searchTypes.audio">
          <app-audio-result-card *ngFor="let result of results" [audioItem]="result" (openDetails)="openDetails(result)"
            (playEvent)="playEvent($event)"></app-audio-result-card>
        </div>

        <ng-container *ngSwitchCase="searchTypes.document">
          <app-document-result-card *ngFor="let result of results" [itemInfo]="result"
            (openDetails)="openDetails(result)"></app-document-result-card>
        </ng-container>

        <ng-container *ngSwitchDefault>
          <app-general-result-card *ngFor="let result of results" [itemInfo]="result"
            (openDetails)="openDetails(result)" (playEvent)="playEvent($event)" [didacticUnitResult]="searchType === searchTypes.didacticUnit"></app-general-result-card>
        </ng-container>

      </ng-container>

      <div class="no-more-results-message" *ngIf="noMoreResults && !showNoResultsMessage">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>No hay más resultados.</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </div>

      <ion-infinite-scroll *ngIf="results && results.length" threshold="50px" (ionInfinite)="bottomReached()" [disabled]="noMoreResults">
        <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </div>
</ion-content>