@import "mixins";
@import "sass-variables";

$search-bar-elements-height: 40px;


:host {
  --licenses-menu-margin-top: 0px;
}


ion-content {
  --background: var(--custom-background);
  padding-top: env(safe-area-inset-top, 0);
}

ion-header.main-header {
  background-color: var(--header-background);
  z-index: 1001;
  padding-top: env(safe-area-inset-top, 0);

  .search-area {
    padding-bottom: 0px;
    margin: 0;
    color: var(--color);

    ion-input {
      box-shadow: none;
      background-color: var(--header-search-input-background);
    }

    ion-button {
      --box-shadow: none;

      @each $class,
      $color in $content-type-colors {
        &.#{$class} {
          --background: #{$color};
        }
      }
    }
  }

  .title-toolbar {
    padding-top: 6px;
    padding-bottom: 6px;
    --background: var(--header-background);

    &.small-padding {
      padding: 2px 0;
      --border-width: 0;
    }

    .app-title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      margin-top: 4px;

      svg {
        width: 34px;
        height: 34px;
        margin-right: 1px;
        transform: rotateZ(-13deg);
      }

      .label {
        font-family: "Cabin Sketch", cursive;
        font-weight: bold;
        transform: rotateZ(-3deg);
      }
    }

    @each $class,
    $color in $content-type-colors {
      &.#{$class} {

        .app-title {
          color: $color;
        }

        svg {
          fill: $color
        }

        ion-button,
        ion-badge {
          --color: #{$color};
        }
      }
    }

    ion-button {
      &.licenses-filter-button {
        position: relative;

        ion-badge {
          position: absolute;
          bottom: 0;
          left: -5px;
          font-size: 12px;
          padding: 6px;
          font-weight: bold;
          width: 12px;
          height: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: transparent;
        }
      }
    }
  }

  :host ::ng-deep {
    .ios app-search-type-selector .type-selection-wrapper {
      margin-top: 0;
    }  

    app-search-type-selector {
      .type-selection-wrapper {
        border-bottom-width: 3px;
        margin: 0;
      }
    }
  }

}

#container {
  background-color: var(--custom-background);
  padding: calc(env(safe-area-inset-top, 0) + 15px) 0 20px;
  min-height: 100%;
  position: relative;

  &.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .background {
    position: fixed;
    top: var(--padding-top);
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.28;
    background-image: url('/assets/img/crotalus_sketchy.svg');
    background-size: 125% auto;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity $animation-duration ease-in-out;

    &.dimmed {
      opacity: 0.09;
    }
  }
}

::ng-deep {
  .dark {
    #container .background {
      opacity: 0.13 !important;

      &.dimmed {
        opacity: 0.04 !important;
      }
    }
  }
}

.no-connected-repos {
  text-align: center;
  opacity: 0.8;
  position: absolute;
  width: 100%;

  ion-card {
    max-width: 600px;
    margin: 0 auto;
  }

  ion-card-title {
    font-family: "Cabin Sketch", cursive;
    font-size: 22px;
    font-weight: bold;
  }

  ion-button {
    @each $class,
    $color in $content-type-colors {
      &.#{$class} {
        --background: #{$color};
      }
    }
  }

  ion-icon {
    font-size: 20px;
    vertical-align: middle;
  }
}

.no-results-message {
  text-align: center;
  opacity: 0.7;
  position: absolute;
  transform: translateY(20vh);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  ion-card {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: none;
    background: none;
  }

  ion-card-subtitle {
    font-family: "Cabin Sketch", cursive;
    font-size: 22px;
    font-weight: bold;
  }

  ion-card-title ion-icon {
    text-align: center;
    font-size: 50px;
    vertical-align: bottom;
    color: var(--ion-color-step-450);
    opacity: 0.8;
  }
}

.no-more-results-message {

  ion-card {
    padding-top: 4px;
    padding-bottom: 4px;
    box-shadow: none;
    background: none;
    opacity: 0.6;
  }

  ion-card-subtitle {
    text-align: center;
    font-family: "Cabin Sketch", cursive;
    font-size: 22px;
    font-weight: bold;
  }
}

.search-area {
  display: flex;
  margin-bottom: 10px;
  padding: 0 20px;
  transform: translateY(0);
  transition: transform $animation-duration ease-in-out;
  z-index: 1;

  .ios & {
    margin-bottom: 0;
  }

  &.pristine {
    transform: translateY(38vh);
    justify-content: center;
    flex-wrap: wrap;

    ion-input {
      flex-basis: 100%;
      border-radius: 4px;
      opacity: 0.71;
    }

    ion-button {
      margin-top: 12px;
      --border-radius: 4px;
      opacity: 0.9;
    }
  }

  ion-input {
    font-size: 18px;
    line-height: 22px;
    padding: 3px 3px 3px 10px !important;
    height: $search-bar-elements-height;
    background-color: var(--search-input-background);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    ;
    border-radius: 4px 0 0 4px;
    flex-basis: calc(100% - 32px);
    transition: all $animation-duration ease-in-out;
  }

  ion-button {
    transition: all $animation-duration ease-in-out;
    margin: 0;
    font-size: 11px;
    height: $search-bar-elements-height;
    --border-radius: 0 4px 4px 0;
    --padding-start: 6px;
    --padding-end: 6px;
    min-width: 32px;

    &.ios {
      --box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      border-radius: 4px;
    }

    @each $class,
    $color in $content-type-colors {
      &.#{$class} {
        --background: #{$color};
      }
    }
  }
}

.first-search-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.video-results-wrapper,
.audio-results-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

ion-menu {
  margin-top: var(--licenses-menu-margin-top);
  position: fixed;
}

.licenses-menu {
  @each $class,
  $color in $content-type-colors {
    &.#{$class} {

      ion-checkbox {
        --background-checked: #{$color};
        --border-color-checked: #{$color};
        --border-color: #{$color};
      }
    }
  }

  ion-checkbox {
    --size: 22px;
    margin-left: 4px;
    margin-right: 16px;
  }

  ion-label {
    margin: 16px 0 8px;

    img {
      width: 88px;
      height: 31px;
      border-radius: 2px;
      margin-left: 6px;
    }

    p {
      font-size: 0.85em;
      margin: 5px 0 0;
      white-space: normal;
      line-height: 1.2em;
    }
  }

}

@media screen and (min-width: 768px) {
  ::ng-deep .details-modal ion-content {
    border-radius: 10px;
    overflow: hidden;
  }
}